@model MyWebApplication.Models.BoardImageCellsViewModel

@{
    // Convert Model to List
    List<Board> boards = Model.Boards.ToList();
    List<string> images = Model.b64Images.ToList();;
}

<h1>Saved Boards</h1>

<p>
    <a asp-action="Create">@ViewData["Title"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Preview
            </th>
            <th>
                Size
            </th>
            <th>
                
            </th>
        </tr>   
    </thead>
    <tbody>
    @for (var i = 0; i < Math.Min(images.Count, boards.Count); i++)
    {
        <tr>
            <td>
                <a asp-action="Load" asp-route-id="@boards[i].Id">
                    @Html.DisplayFor(modelItem => boards[i].Name)
                </a>
            </td>
            <td>
                <a asp-action="Load" asp-route-id="@boards[i].Id">
                    <img src="data:image/png;base64,@images[i]"/>
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => boards[i].Size)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@boards[i].Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@boards[i].Id">Delete</a>
            </td>
        </tr>
    }


    </tbody>
</table>


